<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubAlligator"
        tools:targetApi="31">
        <activity
            android:name=".activity.SeanceByFormationScreen"
            android:exported="false"
            android:label="@string/title_activity_seance_by_formation_screen"
            android:theme="@style/Theme.SubAlligator" />
        <activity
            android:name=".activity.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListeDesFormationsAcitivty"
            android:exported="true"
            android:label="@string/title_activity_liste_des_formations_acitivty"
            android:theme="@style/Theme.SubAlligator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>